body {
  background-color:  #b6e6ed;
  border: 0px; 
  margin: 0px; 
  padding: 0px;
}

main {
  color: white;
  background-color: #4a4a4a;
  max-width: 60%;
  margin: 8% auto;
  padding: 10%;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 30px;
}

nav {
  font-family: Futura Heavy;
  text-align: center;
  background-color: #555555;
  padding: 1vh;
  max-width: 100vw;
  min-width: 90vw;
}

.restart {
  transition: all 0.20s ease-in-out;
  /* opacity: 0.8; */
}

.restart:hover {
opacity: 1;
transform: rotateZ(-5deg);
}


.bingoCard {
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 30px;
  /* disable text selection of prompts, to make more mobile friendly */
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.bingoSquare {
  font-size: 10em; 
  width: 20%; 
  padding: 6% 0;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid white;
  transition: background-color .5s;   
} 



.bingoSquare:hover {
  background-color: #7e7e7e;
  color: white;
  transition: background-color .5s;
}
