body {
  /* background-color:  #b6e6ed; */
  background-color:  #f4f2ed;
  border: 0px; 
  margin: 0px; 
  padding: 0px;
}

a {
  text-decoration: none;
}

main {
  color: white;
  background-color: #4a4a4a;
  max-width: 60%;
  margin: 8% auto;
  padding: 10%;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 30px;
}

nav {
  font-family: Futura Heavy;
  text-align: center;
  /* background-color: #e3ddd2; */
  padding: 1vh;
  max-width: 100vw;
  min-width: 90vw;
  color: white;
}

.restart {
  transition: all 0.20s ease-in-out;
  /* opacity: 0.8; */
  color: white;
}

.restart:hover {
opacity: 1;
transform: rotateZ(-5deg);
}


.bingoCard {
  margin: 0 50px;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
  /* border: 2px solid #c1bfbb; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 30px;
  /* disable text selection of prompts, to make more mobile friendly */
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.bingoSquare {
  font-size: 10em; 
  width: 20%; 
  padding: 5% 1%;
  text-align: center;
  /* box-sizing: border-box; */
  cursor: pointer;
  overflow: hidden;
  /* border-radius: 5px; */
  /* border: 2px solid #c1bfbb; */
  transition: background-color .3s;   
} 



.bingoSquare:hover, .bingoSquare:focus  {
  /* #a3bcc2 */
  /* background-color: #cde6ea; */
  /* #d7f0f4 */
  /* #d1e9ed */
/* #b3e1df */
/* #a3bcc2 */
/* #87B5B2 */
/* #8dbdba */
  background-color:   #8dbdba;
  /* color: white; */
  color: #4a4a4a;
  transition: background-color .3s; 
}

/* #e3ddd2 */
/* #7e7e7e */
/* #80a5c3 */
/* #9f3d19 */