body {
  background-color:  #f4f2ed;
  border: 0; 
  margin: 0; 
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  background-color: #4a4a4a;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 30px;
  color: white;
  margin: 8% auto;
  max-width: 60%;
  padding: 10%;
  text-align: center;
}

nav {
  color: white;
  font-family: Futura Heavy;
  max-width: 100vw;
  min-width: 90vw;  
  padding: 1vh;
  text-align: center;
}

.restart {
  color: white;
  transition: all 0.20s ease-in-out;
}

.restart:hover {
  opacity: 1;
  transform: rotateZ(-5deg);
}


.bingoCard {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 50px;
  overflow: hidden;
  padding: 1%;
  user-select: none;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
}

.bingoSquare {
  border: 1px solid white;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem; 
  max-height: 15%;
  overflow: hidden;
  padding: 4% 1%;
  text-align: center;
  transition: background-color .3s;  
  width: 20%;  
} 


.bingoSquare:hover, .bingoSquare:focus  {
  background-color:   #8dbdba;
  color: #4a4a4a;
  transition: background-color .3s; 
}